<h1>Human Assistant Available Services in Sacramento County</h1>
<% if @services.blank? %>
<p>There are not any listings currently in the system.</p>
<% else %>
<p>These are the current agency listings in our system</p>

<ul id = "services">
   <% @services.each do |c| %>
<li>
   <%= link_to c.agency_name, {:action => 'show', :id => c.id} -%>
   <b> <%= link_to 'Edit', {:action => 'edit', :id => c.id} %></b>
   <b> <%= link_to "Delete", {:action => 'destroy', :id => c.id},
      data: {confirm: "Are you sure you want to delete this listing?"} %></b>
</li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new agency listing", {:action => 'new' }%></p>